@import 'smart-grid';

//---------common styles ----------------------

html {
	font-size: 20px;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	margin: 0;
	padding: 0;
	width: 100%;	
}

li {
	list-style: none;
	color: #fff;
}

a {
	text-decoration: none;
	color: #fff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.container {
	@include wrapper();
	position: relative;
	overflow: hidden;
}

//slider--------------------

.firstExample{
	background-color: rgba(230, 64, 64, 0.699);
	padding: 40px 0;
	width: 100%;
	height: 100vh;
}

.firstExample__slider{
  // border: 1px solid white;
	/* position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	position: relative;
	margin: 0 auto;

	@include lg-block{
		width: 584px;
		height: 512px;
	}

	@include md-block{
		width: 730px;
		height: 640px;
	}

	@include sm-block{
		width: 95vw;
		height: 83.3vw;
	}
}

.GnativeCarousel{

	&__staticItem{
		position: absolute;
		top: 0;
		border-radius: 45px;
		background-color: rgba(85, 85, 85, 0.445);
		box-shadow: 0px 0px 40px 5px rgba(85, 85, 85, 0.788);
		width: 340px;
		height: 710px;
	
		@include lg-block{
			width: 245px;
			height: 512px;
		}
	
		@include md-block{
			width: 306px;
			height: 640px;
		}
	
		@include sm-block{
			width: 39.8vw;
			height: 83.3vw;
		}
	}

	&__itemsContainer{
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
	
		img{
			position: absolute;
			border-radius: 30px;
			width: 320px;
			height: 645px;
	
			@include lg-block{
				width: 231px;
				height: 465px;
			}
	
			@include md-block{
				width: 288px;
				height: 581px;
			}
	
			@include sm-block{
				width: 37.5vw;
				height: 75.6vw;
			}
		}
	}

	&__buttons{
		position: absolute;
		top: 50%;
		left: 10%;
		width: 80%;
		display: flex;
		justify-content: space-between;
		transform: translate(0, -50%);
	
		@include xs-block{
			width: 90%;
			left: 5%;
		}
	
		@include xxs-block{
			display: none;
		}
	}

	&__button{
		display: inline-block;
		background-color: red;
		width: 82px;
		height: 82px;
		border-radius: 50%;
		text-align: center;
		cursor: pointer;
		transition: box-shadow .2s, background-color .2s;
	
		@include xs-block{
			width: 60px;
			height: 60px;
		}
	
		&:hover{
			box-shadow: 0px 0px 10px 1px rgb(85, 81, 81);
		}
	
		&:active{
			box-shadow: none;
			background-color: rgba(219, 25, 25, 0.486);
		}
	
		svg{
			fill-opacity: 0;
			stroke: white;
			stroke-width: 4px;
			stroke-opacity: 1;
			width: 50px;
			height: 25px;
			margin-top: 50%;
			transform: translate(0px, -50%);
		}
	}
}

.message{
  display: none;
  font-family: sans-serif;
  color: white;
  font-size: 6vw;
  text-align: center;

  @media (min-width: 769px) and (max-width: 960px){
    display: block;
  }
}